<ul class="unstyled">
<h1>Available Rooms</h1>

<% @links.each do |link| %>
	<li class="<%= cycle("even", "odd") %>">

	<div class="imageContainer">
		<img class="image" src=<%=link[:image]%> />
	</div>
	<div class="textContainer">
		<h2 class="title"><%=link[:title]%></h1>
		<p class="description"><%=link[:description]%></p>
		<h3 class="rate"><%=link[:rates]%></h3>
		<a class="book-button btn btn-primary" href=<%= link[:bookLink]%>>Book It!</a>
	</div>

	<!-- Button to trigger modal -->

	<a href="#<%=link[:roomid]%>" role="button" class="btn" data-toggle="modal">More Info</a>
 
	<!-- Modal -->
	<div id="<%=link[:roomid]%>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">Modal header</h3>
	  </div>
	  <iframe width="600px" height="600px" src="https://reserve.reservationsonline.com/bookings/rdetail.asp?roomid=<%=link[:roomid]%>&pid=40000&action=A">
	  </iframe>
	  <div class="modal-footer">
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	  </div>
	</div>

	</li>
<% end %>
</ul>
